@model EMG.Model.FileListView
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<table class="table">
    @foreach (var item in Model.FirstFile)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(p => p.FirstFile[0].Id)
                @item.Id
            </td>
            <td>
                @Html.DisplayNameFor(p => p.FirstFile[0].Name)
                @item.Name
            </td>
            <td>
                @Html.DisplayNameFor(p => p.FirstFile[0].Type)
                @item.Type
            </td>
            <td>
                @Html.DisplayNameFor(p => p.FirstFile[0].UserName)
                @item.UserName
            </td>
            <td>
                @Html.ActionLink("歷史版本", "Edition", new { id = item.Id })
            </td>
        </tr>
    }
</table>