@*@model EMG.Model.LoginView
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/default.css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using (Html.BeginForm())
    {        
           <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="text-center">登入</h4>
                            <img class="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt"">
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Account, new { @class = "span4", placeholder = "帳號", AutoComplete = "Off", tabindex = "1", style = "width:300px" })
                                <p>@Html.ValidationMessageFor(m => m.Account)</p>
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Password, new { @class = "span4", placeholder = "密碼", AutoComplete = "Off", tabindex = "1", style = "width:300px" })
                                <p>@Html.ValidationMessageFor(model => model.Password)</p>
                            </div>
                            @Html.ValidationSummary()
                            <div style="padding-top: 5px;">
                                <button type="submit" name="submit" class="btn btn-primary">登入</button>
                                <button type="button" name="reset" class="btn">清除</button>
                            </div>
                        </div>
            </div>
            <script src="~/Scripts/jquery-2.0.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    $('#Account').focus();
                    $('button[name=reset]').click(function () {
                        $('#Account').val('');
                        $('#Password').val('');
                        $('#Remember').prop('checked', '');
                        if ($('.alert>a.close').length > 0) {
                            $('.alert>a.close').trigger('click');
                        }
                    });
                });
            </script>
            }
            @RenderBody()

            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
</body>
</html>*@
