@model EMG.Model.ChangePasswordView
@{
    ViewBag.Title = "修改密碼";
    Layout = null;
}

<style type="text/css">
    h2 {
        color: #FFF;
    }

    div {
        color: #FFF;
    }
</style>

<h2>修改密碼</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.DisplayNameFor(model => model.OldPassword)
            <div>
                @Html.PasswordFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.NewPassword)
            <div>
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.PasswordCheck)
            <div>
                @Html.PasswordFor(model => model.PasswordCheck)
                @Html.ValidationMessageFor(model => model.PasswordCheck, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="修改密碼" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("回到個人資料", "ProFile", "User")
</div>